<%- include('./partials/header') %>
<main class="container py-5">
  <h1>Messages</h1>
  <ul class="pt-4 list-unstyled">
    <% messages.forEach(function(message, index) { %>
    <li>
      <h3><%= message.text %></h3>
      <a class="navbar-brand" href="/message/<%= index %>">View Details</a>
      <p><%= message.user %></p>
    </li>
    <% }) %>
  </ul>
</main>
<%- include('./partials/footer') %>
