<%- include('./partials/header') %>
<main class="container py-5">
  <h2>Message Details</h2>
  <h3><%= message.text %></h3>
  <p><%= message.user %></p>
  <p><%= message.added %></p>

  <a class="navbar-brand" href="/">Back</a>
</main>
<%- include('./partials/footer') %>
